<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zigaai.authorization.mapper.Oauth2RegisteredClientMapper">
    <!--@Table `oauth2_registered_client`-->
    <resultMap id="BaseResultMap" type="com.zigaai.authorization.model.entity.Oauth2RegisteredClient">
        <id column="id" jdbcType="BIGINT" property="id" />
        <result column="client_id" jdbcType="VARCHAR" property="clientId" />
        <result column="client_id_issued_at" jdbcType="TIMESTAMP" property="clientIdIssuedAt" />
        <result column="client_secret" jdbcType="VARCHAR" property="clientSecret" />
        <result column="client_secret_expires_at" jdbcType="TIMESTAMP" property="clientSecretExpiresAt" />
        <result column="client_name" jdbcType="VARCHAR" property="clientName" />
        <result column="client_authentication_methods" jdbcType="VARCHAR" property="clientAuthenticationMethods" />
        <result column="authorization_grant_types" jdbcType="VARCHAR" property="authorizationGrantTypes" />
        <result column="redirect_uris" jdbcType="VARCHAR" property="redirectUris" />
        <result column="scopes" jdbcType="VARCHAR" property="scopes" />
        <result column="client_settings" jdbcType="VARCHAR" property="clientSettings" />
        <result column="token_settings" jdbcType="VARCHAR" property="tokenSettings" />
        <result column="post_logout_redirect_uris" jdbcType="VARCHAR" property="postLogoutRedirectUris" />
    </resultMap>

    <sql id="Base_Column_List">
        id, client_id, client_id_issued_at, client_secret, client_secret_expires_at, client_name, client_authentication_methods, authorization_grant_types, redirect_uris, scopes, client_settings, token_settings, post_logout_redirect_uris
    </sql>

    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.zigaai.authorization.model.entity.Oauth2RegisteredClient" useGeneratedKeys="true">
        insert into `oauth2_registered_client`
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="clientId != null">
                client_id,
            </if>
            <if test="clientIdIssuedAt != null">
                client_id_issued_at,
            </if>
            <if test="clientSecret != null">
                client_secret,
            </if>
            <if test="clientSecretExpiresAt != null">
                client_secret_expires_at,
            </if>
            <if test="clientName != null">
                client_name,
            </if>
            <if test="clientAuthenticationMethods != null">
                client_authentication_methods,
            </if>
            <if test="authorizationGrantTypes != null">
                authorization_grant_types,
            </if>
            <if test="redirectUris != null">
                redirect_uris,
            </if>
            <if test="scopes != null">
                scopes,
            </if>
            <if test="clientSettings != null">
                client_settings,
            </if>
            <if test="tokenSettings != null">
                token_settings,
            </if>
            <if test="postLogoutRedirectUris != null">
                post_logout_redirect_uris,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="clientId != null">
                #{clientId,jdbcType=VARCHAR},
            </if>
            <if test="clientIdIssuedAt != null">
                #{clientIdIssuedAt,jdbcType=TIMESTAMP},
            </if>
            <if test="clientSecret != null">
                #{clientSecret,jdbcType=VARCHAR},
            </if>
            <if test="clientSecretExpiresAt != null">
                #{clientSecretExpiresAt,jdbcType=TIMESTAMP},
            </if>
            <if test="clientName != null">
                #{clientName,jdbcType=VARCHAR},
            </if>
            <if test="clientAuthenticationMethods != null">
                #{clientAuthenticationMethods,jdbcType=VARCHAR},
            </if>
            <if test="authorizationGrantTypes != null">
                #{authorizationGrantTypes,jdbcType=VARCHAR},
            </if>
            <if test="redirectUris != null">
                #{redirectUris,jdbcType=VARCHAR},
            </if>
            <if test="scopes != null">
                #{scopes,jdbcType=VARCHAR},
            </if>
            <if test="clientSettings != null">
                #{clientSettings,jdbcType=VARCHAR},
            </if>
            <if test="tokenSettings != null">
                #{tokenSettings,jdbcType=VARCHAR},
            </if>
            <if test="postLogoutRedirectUris != null">
                #{postLogoutRedirectUris,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>

    <update id="updateById" parameterType="com.zigaai.authorization.model.entity.Oauth2RegisteredClient">
      update `oauth2_registered_client`
      <set>
        <if test="et.clientId != null">
            client_id = #{et.clientId,jdbcType=VARCHAR},
        </if>
        <if test="et.clientIdIssuedAt != null">
            client_id_issued_at = #{et.clientIdIssuedAt,jdbcType=TIMESTAMP},
        </if>
        <if test="et.clientSecret != null">
            client_secret = #{et.clientSecret,jdbcType=VARCHAR},
        </if>
        <if test="et.clientSecretExpiresAt != null">
            client_secret_expires_at = #{et.clientSecretExpiresAt,jdbcType=TIMESTAMP},
        </if>
        <if test="et.clientName != null">
            client_name = #{et.clientName,jdbcType=VARCHAR},
        </if>
        <if test="et.clientAuthenticationMethods != null">
            client_authentication_methods = #{et.clientAuthenticationMethods,jdbcType=VARCHAR},
        </if>
        <if test="et.authorizationGrantTypes != null">
            authorization_grant_types = #{et.authorizationGrantTypes,jdbcType=VARCHAR},
        </if>
        <if test="et.redirectUris != null">
            redirect_uris = #{et.redirectUris,jdbcType=VARCHAR},
        </if>
        <if test="et.scopes != null">
            scopes = #{et.scopes,jdbcType=VARCHAR},
        </if>
        <if test="et.clientSettings != null">
            client_settings = #{et.clientSettings,jdbcType=VARCHAR},
        </if>
        <if test="et.tokenSettings != null">
            token_settings = #{et.tokenSettings,jdbcType=VARCHAR},
        </if>
        <if test="et.postLogoutRedirectUris != null">
            post_logout_redirect_uris = #{et.postLogoutRedirectUris,jdbcType=VARCHAR},
        </if>
      </set>
      where id = #{et.id,jdbcType=BIGINT}
    </update>

    <insert id="insertBatch" keyColumn="id" keyProperty="id" parameterType="map" useGeneratedKeys="true">
      insert into `oauth2_registered_client`
      (id, client_id, client_id_issued_at, client_secret, client_secret_expires_at, client_name, client_authentication_methods, authorization_grant_types, redirect_uris, scopes, client_settings, token_settings, post_logout_redirect_uris)
      values
      <foreach collection="entityList" item="item" separator=",">
      (#{item.id,jdbcType=BIGINT}, #{item.clientId,jdbcType=VARCHAR}, #{item.clientIdIssuedAt,jdbcType=TIMESTAMP}, #{item.clientSecret,jdbcType=VARCHAR}, #{item.clientSecretExpiresAt,jdbcType=TIMESTAMP}, #{item.clientName,jdbcType=VARCHAR}, #{item.clientAuthenticationMethods,jdbcType=VARCHAR}, #{item.authorizationGrantTypes,jdbcType=VARCHAR}, #{item.redirectUris,jdbcType=VARCHAR}, #{item.scopes,jdbcType=VARCHAR}, #{item.clientSettings,jdbcType=VARCHAR}, #{item.tokenSettings,jdbcType=VARCHAR}, #{item.postLogoutRedirectUris,jdbcType=VARCHAR})
      </foreach>
    </insert>

    <update id="updateBatchById" parameterType="java.util.Collection">
      update `oauth2_registered_client`
      <trim prefix="set" suffixOverrides=",">
        <trim prefix="client_id = case" suffix="end,">
          <foreach collection="entityList" index="index" item="item">
            <if test="item.clientId != null">
                when id = #{item.id,jdbcType=BIGINT} then #{item.clientId,jdbcType=VARCHAR}
            </if>
          </foreach>
        </trim>
        <trim prefix="client_id_issued_at = case" suffix="end,">
          <foreach collection="entityList" index="index" item="item">
            <if test="item.clientIdIssuedAt != null">
                when id = #{item.id,jdbcType=BIGINT} then #{item.clientIdIssuedAt,jdbcType=TIMESTAMP}
            </if>
          </foreach>
        </trim>
        <trim prefix="client_secret = case" suffix="end,">
          <foreach collection="entityList" index="index" item="item">
            <if test="item.clientSecret != null">
                when id = #{item.id,jdbcType=BIGINT} then #{item.clientSecret,jdbcType=VARCHAR}
            </if>
          </foreach>
        </trim>
        <trim prefix="client_secret_expires_at = case" suffix="end,">
          <foreach collection="entityList" index="index" item="item">
            <if test="item.clientSecretExpiresAt != null">
                when id = #{item.id,jdbcType=BIGINT} then #{item.clientSecretExpiresAt,jdbcType=TIMESTAMP}
            </if>
          </foreach>
        </trim>
        <trim prefix="client_name = case" suffix="end,">
          <foreach collection="entityList" index="index" item="item">
            <if test="item.clientName != null">
                when id = #{item.id,jdbcType=BIGINT} then #{item.clientName,jdbcType=VARCHAR}
            </if>
          </foreach>
        </trim>
        <trim prefix="client_authentication_methods = case" suffix="end,">
          <foreach collection="entityList" index="index" item="item">
            <if test="item.clientAuthenticationMethods != null">
                when id = #{item.id,jdbcType=BIGINT} then #{item.clientAuthenticationMethods,jdbcType=VARCHAR}
            </if>
          </foreach>
        </trim>
        <trim prefix="authorization_grant_types = case" suffix="end,">
          <foreach collection="entityList" index="index" item="item">
            <if test="item.authorizationGrantTypes != null">
                when id = #{item.id,jdbcType=BIGINT} then #{item.authorizationGrantTypes,jdbcType=VARCHAR}
            </if>
          </foreach>
        </trim>
        <trim prefix="redirect_uris = case" suffix="end,">
          <foreach collection="entityList" index="index" item="item">
            <if test="item.redirectUris != null">
                when id = #{item.id,jdbcType=BIGINT} then #{item.redirectUris,jdbcType=VARCHAR}
            </if>
          </foreach>
        </trim>
        <trim prefix="scopes = case" suffix="end,">
          <foreach collection="entityList" index="index" item="item">
            <if test="item.scopes != null">
                when id = #{item.id,jdbcType=BIGINT} then #{item.scopes,jdbcType=VARCHAR}
            </if>
          </foreach>
        </trim>
        <trim prefix="client_settings = case" suffix="end,">
          <foreach collection="entityList" index="index" item="item">
            <if test="item.clientSettings != null">
                when id = #{item.id,jdbcType=BIGINT} then #{item.clientSettings,jdbcType=VARCHAR}
            </if>
          </foreach>
        </trim>
        <trim prefix="token_settings = case" suffix="end,">
          <foreach collection="entityList" index="index" item="item">
            <if test="item.tokenSettings != null">
                when id = #{item.id,jdbcType=BIGINT} then #{item.tokenSettings,jdbcType=VARCHAR}
            </if>
          </foreach>
        </trim>
        <trim prefix="post_logout_redirect_uris = case" suffix="end,">
          <foreach collection="entityList" index="index" item="item">
            <if test="item.postLogoutRedirectUris != null">
                when id = #{item.id,jdbcType=BIGINT} then #{item.postLogoutRedirectUris,jdbcType=VARCHAR}
            </if>
          </foreach>
        </trim>
      </trim>
      where id in
      <foreach close=")" collection="entityList" item="item" open="(" separator=", ">
        #{item.id,jdbcType=BIGINT}
      </foreach>
    </update>

    <sql id="Dynamic_Column">
        <choose>
            <when test="columns != null and columns.length != 0">
                <foreach collection="columns" item="item" separator=",">
                    ${item}
                </foreach>
            </when>
            <otherwise>
                <include refid="Base_Column_List"/>
            </otherwise>
        </choose>
    </sql>

    <select id="getById" parameterType="Long" resultMap="BaseResultMap">
        select <include refid="Dynamic_Column" />
        from `oauth2_registered_client`
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="listByIds" resultMap="BaseResultMap">
        select <include refid="Dynamic_Column" />
        from `oauth2_registered_client`
        where id in
        <foreach collection="ids" close=")" item="item" open="(" separator=",">
            #{item,jdbcType=BIGINT}
        </foreach>
    </select>

    <update id="deleteById" parameterType="Long">
        delete from `oauth2_registered_client`
        where id = #{id,jdbcType=BIGINT}
    </update>

    <update id="deleteBatchByIds">
        delete from `oauth2_registered_client`
        where id in
        <foreach collection="ids" separator="," item="item" close=")" open="(">
            #{item,jdbcType=BIGINT}
        </foreach>
    </update>

    <select id="getByClientId" resultMap="BaseResultMap">
        select <include refid="Base_Column_List" />
        from oauth2_registered_client
        where client_id = #{clientId,jdbcType=VARCHAR}
    </select>

    <select id="getClientIdById" resultType="java.lang.String">
        select client_id from oauth2_registered_client
        where id = #{id,jdbcType=VARCHAR}
    </select>

</mapper>
